/* Advanced Options Toggle */
.advanced-toggle {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--main-control-color);
}

.advanced-toggle #disclosure-icon {
    min-width: 18px;
}

.advanced-options {
    flex-direction: column;
    margin-top: 10px;
    display: none; /* Hidden by default */
    gap: var(--main-flexbox-gap);
}

.advanced-options.visible {
    display: flex;
}

.advanced-options input[type="text"]{
    width: calc(100% - 120px); /* Adjust width for button space */
    margin-right: 10px;
}