* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-control-color: #008184;
    --main-control-color-hover: #005c5f;
    --main-flexbox-gap: 16px;
    --secondary-text-color: #87898b;
    --disabled-button-background: #e0e0e0;
    --disabled-button-background-hover: #e6e6e6;
    --selection-color: #73A3F8;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html,
body,
button {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"], input[type="search"] {
    font-family: 'Open Sans', sans-serif;   
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="search"]:focus, input[type="text"]:focus {
    outline-color: var(--selection-color);
}

input[type="checkbox"] {
    accent-color: var(--main-control-color);
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}

input::placeholder {
    opacity: 0.75;
}

label {
    vertical-align: middle;
    margin-left: 8px;
}

a,
a:link,
a:active,
a:focus,
a:visited {
    cursor: pointer;
    text-decoration: none;
    color: rgb(103, 163, 255);
}