button.read-more {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#package-list {
    list-style: none;
    padding: 0;
}

.no-results {
    line-height: 2;
    text-align: center;
}

.no-results .large-icon {
    font-size: 5em;
}

.package-item {
    padding: 10px 0; /* Adjusted padding for vertical spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.package-divider {
    border-top: 1px solid #DAE3E3; /* Divider line after each package */
    margin: 10px 0; /* Spacing around the divider */
}

.package-info {
    max-width: 80%;
}

.package-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package-title {
    font-weight: 600;
}

.package-title .author {
    color: #7F8C8D;
    font-weight: normal;
    margin-left: 5px;
}

.exact-match-tag {
    padding: 2px 6px;
    background-color: #ffd700;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 10px;
}

.package-description {
    margin-top: 5px;
    font-size: 0.9em;
    line-height: 1.5;
    color: #4E5B61;
}

.package-tags {
    margin-top: 12px;
    display: flex;
    gap: 5px;
}

.tag {
    padding: 2px 6px;
    background-color: #ECF1F1;
    border-radius: 4px;
    border: 1px solid #C9D2D2;
    font-size: 0.8em;
}

.package-license {
    margin-top: 12px;
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;
    color: #4E5B61;
}

.package-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}