.upper-section {
    background-color: #fff; /* White background for the upper section */
    padding: 20px 0;
}

.lower-section {
    position: relative; /* So the overlay can be positioned absolutely within it */
    background-color: #F9F9F9; /* Light gray background for the lower section */
    flex-grow: 1; /* Allows this section to fill remaining space */
    
    /* Allow content to scroll while keeping the overlay fixed */
    display: flex;
    overflow-y: hidden;
    
    /* Needed for loading spinner to be centered */
    justify-content: center;
}

/* Overlay for disabling the search results during installation */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Gray translucent background */
    z-index: 999; /* Ensures it appears above other content */
    display: none; /* Hidden by default */
    cursor: not-allowed;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlay.visible {
    opacity: 1;
}

#search-results-wrapper{
    padding-top: 20px;
    flex-grow: 1; /* Allows this section to fill remaining space */
    overflow-y: auto;
}

/* Disabling buttons appearance */
.lower-section button:disabled, .advanced-options button:disabled {
    background-color: #ccc; /* Disabled state background */
    color: #666; /* Disabled state text color */
    cursor: not-allowed;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px; /* Adjusted padding for consistency */
}

.section-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.divider {
    border: none;
    border-top: 2px solid #C9D2D2;
    margin: 0;
    width: 100%;
}

#board-selection {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.board-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.board-item:hover {
    background-color: #e0e0e0;
}

/* Status Bar */
.status-bar {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0 10px; /* Set initial padding to 0 for smooth slide */
    margin-top: 10px;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.3s ease;
}

.status-bar.visible {
    height: auto;
    padding: 10px;
    opacity: 1;
}

/* Search Container */
.search-container {
    margin-bottom: 20px;
}

/* Search Box */
#search {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#search-field {
    width: 100%;
    padding-left: 35px; /* Adjusted padding for the icon */
}


/* Magnifying Glass SVG Icon */
#search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2em;
    color: #555;
    margin-top: 2px;
}

#package-list {
    list-style: none;
    padding: 0;
}

.package-item {
    padding: 10px 0; /* Adjusted padding for vertical spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Removed border and background color */
}

.package-divider {
    border-top: 1px solid #DAE3E3; /* Divider line after each package */
    margin: 10px 0; /* Spacing around the divider */
}

.package-info {
    max-width: 80%;
}

.package-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package-title {
    font-weight: 600;
}

.exact-match-tag {
    padding: 2px 6px;
    background-color: #ffd700;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 10px;
}

.package-description {
    margin-top: 5px;
    font-size: 0.9em;
}

.package-tags {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.tag {
    padding: 2px 6px;
    background-color: #e0e0e0;
    border-radius: 4px;
    font-size: 0.8em;
}

.package-license {
    margin-top: 5px;
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;
}

.package-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button.install {
    background-color: #28a745;
    color: white;
}

button.read-more {
    background-color: #007bff;
    color: white;
}

/* Results Count */
#results-count {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

/* Advanced Options Toggle */
.advanced-toggle {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--main-control-color);
}

.advanced-toggle #disclosure-icon {
    margin-right: 8px; /* Add some spacing between the triangle and the text */
}

.advanced-options {
    margin-top: 10px;
    align-items: center;
    display: none; /* Hidden by default */
}

.advanced-options.visible {
    display: flex;
}

.advanced-options input {
    width: calc(100% - 120px); /* Adjust width for button space */
    margin-right: 10px;
}

.advanced-options button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Loading Spinner */
.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 40px auto; /* Centers the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}