.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--main-flexbox-gap);
}

.upper-section {
    background-color: #fff; /* White background for the upper section */
    padding: 20px 0;
}

.lower-section {
    position: relative; /* So the overlay can be positioned absolutely within it */
    background-color: #F9F9F9; /* Light gray background for the lower section */
    flex-grow: 1; /* Allows this section to fill remaining space */
    
    /* Allow content to scroll while keeping the overlay fixed */
    display: flex;
    overflow-y: hidden;
    
    /* Needed for loading spinner to be centered */
    justify-content: center;
}

/* Overlay for disabling the search results during installation */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Gray translucent background */
    z-index: 999; /* Ensures it appears above other content */
    display: none; /* Hidden by default */
    cursor: not-allowed;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlay.visible {
    opacity: 1;
}

#search-results-wrapper{
    padding-top: 20px;
    flex-grow: 1; /* Allows this section to fill remaining space */
    overflow-y: auto;
}

/* Disabling buttons appearance */
.lower-section button:disabled, .advanced-options button:disabled {
    background-color: #ccc; /* Disabled state background */
    color: #666; /* Disabled state text color */
    cursor: not-allowed;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px; /* Adjusted padding for consistency */
}

.section-title {
    font-size: 1.2em;
    font-weight: 600;
}

.divider {
    border: none;
    border-top: 2px solid #C9D2D2;
    margin: 0;
    width: 100%;
}

#device-selection {
    flex-direction: column;
    margin-bottom: 20px;
}

/* Status Bar */
.status-bar {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0 10px; /* Set initial padding to 0 for smooth slide */
    margin-top: 10px;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.3s ease;
}

.status-bar.visible {
    height: auto;
    padding: 10px;
    opacity: 1;
}

/* Loading Spinner */
.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 40px auto; /* Centers the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}